mat-form-field{
  width: 100%;
}
mat-grid-tile{
  width:30%;
}
mat-icon{
  cursor: pointer;
}
.login-main{
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.header-image-box{
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-image {
  width: 80%;
}
.header-title{
  display: flex;
  justify-content: center;
  margin: 20px auto ;
  color: #777777;
}
.link-group{
  display: flex;
  justify-content: center ;
}

.button-group{
  width: 100%;
  display: flex;
  justify-content: center ;
}
.button-group button{
  margin: 15px 20px;
}
.login-from button{
  margin-top: 20px;
  background-color: #dcdbdb;
  color: gray;
}
.button-group button + button{
  background-color: #ffc500 !important;
}
/* @media screen and (max-width:599px){
}
@media screen and (min-width:600px){
  .login-main{
    width: 600px;
  }
} */
