<div class="login-main">
  <mat-card>
    <div class="w-100p header-image-box"><img class="header-image" src="../../../assets/style/images/nilogo.png"></div>
    <div class="header-title">收银系统</div>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
          <mat-form-field>
            <input matInput placeholder="Email address" type="email" [formControl]="form.controls['email']">
          </mat-form-field>
          <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched" >You must include an email address.</small>
          <small *ngIf="form.controls['email'].errors?.email && form.controls['email'].touched">You must include a valid email address.</small>
        </div>

        <div>
          <mat-checkbox checked="false">下次登录记住我</mat-checkbox>
        </div>
        <div >
          <button class="button-group" mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
            <mat-icon>vpn_lock</mat-icon>密码找回</button>
        </div>
      </form>
      <div class="button-group">
        <button mat-raised-button (click)="recoverPwd()">密码找回</button>
        <button mat-raised-button (click)="register()">登录</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
