<form novalidate (ngSubmit)="onSubmit(form)" [formGroup]="form">
  <div>
    <h1 mat-dialog-title><span><mat-icon>create</mat-icon>{{modalTitle}}</span></h1>
  </div>
  <div mat-dialog-content>
    <mat-input-container class="full-width">
      <input matInput placeholder="分类名称" formControlName="categoryName">
    </mat-input-container>

    <mat-form-field>
      <mat-select placeholder="上级分类" [(ngModel)]="pId" formControlName="pId" (onClose)="getSelectPName()">
        <mat-option *ngFor="let c of categorys" [value]="c.id">
          {{c.categoryName}}
        </mat-option>
      </mat-select>
    </mat-form-field>


  </div>

  <mat-dialog-actions class="mat-dialog-footer" align="end">
    <button mat-dialog-close mat-raised-button type="button">关闭</button>
    <button type="submit" color="primary"  [disabled]="!form.valid" mat-raised-button>{{modalBtnTitle}}</button>
  </mat-dialog-actions>
</form>
