button {
  width: 100%;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
}

mat-icon {
  margin-right: 15px;
}
.nav-selected{
  background-color: #ebedf8;
}

mat-list-item{}
