<div [ngClass]=" {'nav-selected':navItem.open }" >
  <mat-list-item>
    <button type="button" mat-button (click)="goTo(navItem.path)">
      <mat-icon>{{navItem.icon}}</mat-icon>
      {{navItem.name}}
    </button>
  </mat-list-item>
  <div [hidden]="!navItem.open">
    <mat-list-item *ngFor="let child of navItem.children">
      <button type="button" mat-button (click)="goTo(child.path)">
        <mat-icon>keyboard_arrow_right</mat-icon>
        {{child.name}}
      </button>
    </mat-list-item>
  </div>
</div>
