$border-radius-base: 2px !default;
$font-size-base: 0.875rem !default;

:host {
    display: block;
}
.wrapper {
    margin: 6px;
    .my-header-title{
        font-size: 28px;
        .my-header-subtitle{
            color: gray;
        }
    }
}
.mat-card{
    margin: 10px;
}
.mat-toolbar.mat-primary {
    background: #3f51b5;
    color: hsla(0,0%,100%,.87);
}

.mat-fab.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
    background-color: #ffd740;
}
.mat-fab.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
    color: rgba(0,0,0,.87);
}
.mat-fab.mat-warn, .mat-mini-fab.mat-warn, .mat-raised-button.mat-warn {
    background-color: #f44336;
}
.mat-fab.mat-warn, .mat-mini-fab.mat-warn, .mat-raised-button.mat-warn {
    color: #fff;
}
.ml-xs, .mx-xs {
    margin-left: .55555556rem!important;
}
.mr-xs {
    margin-right: .55555556rem!important;
}
// Gerald MorrisÂùó
.mb-xs {
    margin-bottom: .55555556rem!important; 
}
.mt-xs {
    margin-top: .55555556rem!important;
}

.block {
     display: block; 
}
a, a:focus, a:hover {
     text-decoration: none; 
}
a {
     color: inherit; 
}
.text-xs-center {
    text-align: center!important;
}
.radius-circle {
    border-radius: 50%;
}
.text-xs-center {
    text-align: center!important;
}

// .mat-card .mat-card-content {
//     padding: 1rem;
//     margin-bottom: 0;
//     position: relative;
// }


:host /deep/ {
    .profile-post {
        textarea {
            border: 0;
            width: 99%;
            padding: 8px;
            outline: 0;
            border-radius: $border-radius-base $border-radius-base 0 0 ;
            font-size: $font-size-base;
        }
    }
  
    .activity-stream {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 42px;
            bottom: 0;
            left: 42px;
            width: 1px;
            // background-color: mat-color($foreground, divider);
        }
        .mat-card {
            background-color: transparent;
        }
        .mat-card-content {
            padding-top: 0;
            padding-left: 78px;
        }
    }
  
}
  
  
[dir="rtl"] :host /deep/ {
    .activity-stream {
        &::before {
        left: auto;
        right: 42px;
        }
        .mat-card-content {
        padding-left: o;
        padding-right: 78px;
        }
    }
}