$warn:#f44336;
.juzhonhg{
  background-color: aquamarine;
}
.header-toolbar{
  position: relative;
  box-shadow: 0 1px 8px rgba(0,0,0,.3);
  z-index: 9;
  // 企业名
  .company-name{
    flex: 1 1 auto;//flex-grow, flex-shrink 和 flex-basis的简写。flex-shrink属性定义了项目的缩小比例，为1时如果空间不足，该项目将缩小
    display: flex;
    justify-content: center;
  }
  // 语言选择
  .language{
    display: flex;
    /* justify-content: baseline; */
    /* align-items: center; */
    /* flex-direction: column; */
    width: 12vw;
    max-width: 70px;
  }
  // 角色
  .role{
    display: flex;
    width: 20vw;
    max-width: 130px;
    font-size: 14px;
  }
  // 下拉框字体颜色，如果影响到全局，可写到混合器当中。没起作用
  mat-select{
    color: #e1e3f3;
  }
  // 顾客选择
  // .custom{
  //   width: 56px;
  //   margin-left: 20px;
  // }
  .notification-label {
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 12px;
    font-weight: 700;
    line-height: 13px;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background-color: $warn;
    border: 4px solid $warn;
    color: white;
    text-align: center;
  }
}
.chat-panel {
  max-width: 320px;
  width: 100%;
  overflow: hidden;
  md-tab-group, .mat-tab-body-wrapper, md-tab-body, .mat-tab-body-content {
    height: 100%;
  }
  .scroll {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    -webkit-overflow-scrolling: touch;
  }
}

// mat-toolbar.main-header {
//   padding: 0 8px;
//   position: relative;
//   box-shadow: 0 1px 8px rgba(0,0,0,.3);
//   z-index: 9;
// }
.content-container{
  // 左侧菜单
  .nav-body{
    width: 20vw;  
  }
  // 设置按钮
  .setting-button{
    // position: absolute;
    // right: 30px;
    // bottom: 20px;
    z-index: 10;
    top: auto;
    right: 20px;
    bottom: 1rem;
    left: auto;
    position: fixed;
  }
  // 设置面板
  .setting-panel{
    position: absolute;
    right: 30px;
    bottom: 20px;
    z-index: 11;
    width: 20vw;
    padding: 5px;
    .float-right {
      float: right;
    }
    button{
      width: 100%;
      padding-left: 10px;
      padding-bottom: 10px;
      padding-top: 10px;
      display: flex;
      box-sizing: border-box;
      flex-direction: row;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
    }
  }
  .content-main{
    // height: 550px;
    overflow-x: hidden;//去除横向滚动条
  }
}


.tab-group {
  border: 1px solid #e8e8e8;
  width: 20vw;
}

.demo-tab-content {
  padding: 16px;
}











